@page "/"
@using Cstl.IndoorPositioning.Web.Components
@layout MainLayout

<div class="app-layout">
    <SidePanel />
    <MapView />
</div>

<style>
    .app-layout {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
</style>
